/* Navbar */
.navbar-brand {
  font-family: viga;
  font-size: 32px;
  height: 50px;
}

/* Akhir Navbar */

/* My Fonts */
.navbar-text,
.info,
.jumbotron,
.about,
.footer {
  font-family: montserrat;
}

/* Akhir My Fonts */

/* Utility */
.tombol {
  text-transform: uppercase;
  border-radius: 10%;
}

/* Akhir Utility */

/* Jumbotron */
.jumbotron {
  background-image: url(img/1unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 560px;
  margin-top: 87px;
  text-align: right;
}

.p-jumbotron {
  margin-top: 160px;
}

.waves {
  margin-top: 125px;
}

.display-4 {
  margin-top: 100px;
}

.text1 {
  margin-top: -20px;
}

/* Akhir Jumbotron */

/* Info */
.info {
  margin-top: 25px;
}

.info-2 {}

/* Akhir Info */

/* Dekstop */
@media (min-width: 992px) {
  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }

  .navbar-brand,
  .nav-link {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #0d6efd;
    width: 5%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron {
    margin-top: -80px;
    height: 560px;
  }
}

/* Akhir Dekstop */

/* Mobile */
@media (max-width: 575.98px) {
  .jumbotron {
    height: 42%;
  }
}

.nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 3px solid #0d6efd;
  width: 5%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

/* Akhir Mobile */

/* FLOATING BUTTON */

/* AKHIR FLOATING BUTTON */

/* Footer */
  .footer {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .wavef {
    margin-top: -50px;
  }
  
  .link-light {
    text-decoration: none;
  }
  
  .copyright {
    margin-top: 80px;
    margin-bottom: -50px;
  }
/* Akhir Footer */
