/*
SCSS RGB 
$yellow-orange-color-wheel: rgba(254, 144, 1, 1);
$gunmetal: rgba(12, 38, 53, 1);

--yellow-orange-color-wheel: #FE9001;
--gunmetal: #0C2635;
*/

body {
  width: 100%;
  background-color: #0C2635;
  opacity: 1;
  background-image: radial-gradient(#68686e 0.8500000000000001px, #0C2635 0.8500000000000001px);
  background-size: 50px 50px;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999999999;
  overflow: visible;
  background: #fff url('asset/loader.gif') no-repeat center center;
}


/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11111;
  right: 0;
  top: 0; 
  background-color: #0C2635;
  background-color: rgba(12, 38, 53, 0.9);
  overflow-x: hidden;
  transition: 0.7s;
  font-family: Poppins;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #FE9001;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 35px;
  right: 40px;
  font-size: 60px;
}

.hamb {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 35px;
  right: 40px;
  background-color: #FE9001;
  color: #0C2635;
  border-radius: 50px;
  text-align: center;
  font-size: 1.5em;
  z-index: 1;
}

/* Jumbotron */
.jumbotron {
  height: 50vh;
}

.jumbotron img {
  width: 450px;
  padding-top: 5em;
}


.asog {
  color: #fff;
  text-align: center;
  font-family: PT Sans, sans-serif;
  line-height: 3em;
  padding-top: 1em;
  padding-bottom: -1em;
}

.asog-r1 {
  text-transform: uppercase;
  font-size: 10em;
  font-weight: 700;
  line-height: 1.1em;
}

.asog-r2 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 2.5em;
  display: inline-block;
  position: relative;
  opacity: 90%;
  color: #FE9001;
}

.asog-r2:before,
.asog-r2:after {
  background: url(https://tobiasahlin.com/images/typesource/leaves.svg) no-repeat center center/2.5em 0.7em;
  content: "";
  left: -3em;
  top: -0.3em;
  position: absolute;
  width: 2.5em;
  height: 1.5em;
}

.asog-r2:after {
  left: auto;
  right: -3em;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/*  ====== WAVE ANIMATION ====== */
.hero-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}


/* ====== ABOUT ====== */
#about {
  height: 40vh;
  background-color: #fff;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 5em;
  font-family: Poppins;
}

#about h1 {
  margin-left: 0.7em;
  margin-right: 0.7em;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3em;
}

#about h1::after {
  content: "";
  width: 75px;
  height: 4px;
  display: inline-block;
  background: #fd9042;
  margin-bottom: 15px;
  margin-left: 10px;
}

#about h1::before {
  content: "";
  width: 75px;
  height: 4px;
  display: inline-block;
  background: #fd9042;
  margin-bottom: 15px;
  margin-right: 10px;
}


.icon-box1 {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  height: 30em;
  margin-top: -3em;
}

#about p {
  font-family: Lato;
  font-size: 1.9em;
  margin-top: 50px;
}

/* ====== SKILLS ====== */
#skills {
  background: #fff;
  font-family: Poppins;
  margin-top: -1em;
}

#skills h1 {
  position: relative;
  font-weight: 900;
  font-size: 3em;
  font-family: Poppins;
  text-transform: uppercase;
  padding-top: 3em;
}

#skills h1::after {
  content: "";
  width: 65px;
  height: 4px;
  display: inline-block;
  background: #fd9042;
  margin-bottom: 15px;
  margin-left: 7px;
}

#skills h1::before {
  content: "";
  width: 65px;
  height: 4px;
  display: inline-block;
  background: #fd9042;
  margin-bottom: 15px;
  margin-right: 7px;
}


.icon-boxes {
  padding-top: 100px;
}

.icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  height: 20em;
  width: 20em;
  margin-left: 1em;
  margin-right: 1em;
}

.icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.icon-box .title a {
  color: #124265;
  transition: 0.3s;
  text-decoration: none;
}

.icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: #2487ce;
}

.icon-box:hover {
  transform: scale(1.08);
}

.icon-box:hover .title a {
  color: #2487ce;
}

.icon {
  color: #000000;
  font-size: 5em;
  margin-top: -1em;
}

@media (min-width: 1024px) {
  #skills {
    background-attachment: fixed;
  }
}

@media (max-height: 800px) {
  #skills {
    height: auto;
  }
}

@media (max-width: 992px) {
  #skills {
    height: auto;
  }
  #skills h1 {
    line-height: 36px;
  }
  #skills h2 {
    font-size: 18px;
    line-height: 24px;
  }
}


/* ====== FOOTER ====== */
#footer {
  background: #14151c;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 1.5em;
  font-style: italic;
  padding: 0;
  margin: 0 0 20px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 2.5em;
  display: inline-block;
  background: #ef6603;
  color: #fff;
  line-height: 1;
  padding: 12.5px 0;
  margin-right: 7px;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #bd5102;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 1.2em;
}

#footer a {
  text-decoration: none;
  color: #fff;
}

.copyright {
  font-size: 1.2em;
}



/* ====== RESPONSIVE ======= */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  
  
  
}

@media (max-width: 575.98px) {

  .navbar img {
    width: 150px;
    margin-left: 10px;
  }

  .hamb {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 25px;
    right: 30px;
    font-size: 1em;
  }
  
  
  /* Jumbotron */
  .jumbotron {
    height: 50vh;
  
  }
  
  .asog {
    color: #fff;
    text-align: center;
    font-family: PT Sans, sans-serif;
    line-height: 3em;
    padding-top: 1em;
    padding-bottom: -1em;
  }
  
  .asog-r2:before,
  .asog-r2:after {
    background: url(https://tobiasahlin.com/images/typesource/leaves.svg) no-repeat center center/2.5em 0.7em;
    content: "";
    left: -3em;
    top: -0.3em;
    position: absolute;
    width: 2.5em;
    height: 1.5em;
  }
  
  .asog-r2:after {
    left: auto;
    right: -3em;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  
  .jumbotron img {
    width: 200px;
  }


  .asog-r1 {
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: -0.1em;
    padding-top: 0.1px;
  }

  .asog-r2 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.2em;
    display: inline-block;
    position: relative;
    opacity: 90%;
    color: #FE9001;
  }
  
  .about h1 {
    font-size: 2.5em;
  }
  
  
  
/* ====== ABOUT ====== */

#about {
  height: 70vh ;
  background-color: #fff;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 5em;
  font-family: Poppins;
}

#about h1 {
  margin-left: 0.7em;
  margin-right: 0.7em;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5em;
  
}

#about h1::after {
  content: "";
  width: 50px;
  height: 2.5px;
  display: inline-block;
  background: #fd9042;
  margin-bottom: 7px;
  margin-left: 5px;
}

#about h1::before {
  content: "";
  width: 50px;
  height: 2.5px;
  display: inline-block;
  background: #fd9042;
  margin-bottom: 7px;
  margin-left: 5px;
}


.icon-box1 {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.15);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  margin-top: 5px;
  height: 17em;
  width: 20em;
}

#about p {
  font-family: Lato;
  font-size: 15px;
  margin-top: 0;
}


/* ====== SKILLS ====== */
#skills {
  background: #fff;
  width: 100%;
  font-family: Poppins;
}

#skills h1 {
  position: relative;
  font-weight: 900;
  font-size: 1.5em;
  font-family: Poppins;
  text-transform: uppercase;
  padding-top: 3em;
}

#skills h1::after {
  content: "";
  width: 50px;
  height: 2.5px;
  display: inline-block;
  background: #fd9042;
  margin-bottom: 7px;
  margin-left: 2px;
}

#skills h1::before {
  content: "";
  width: 50px;
  height: 2.5px;
  display: inline-block;
  background: #fd9042;
  margin-bottom: 7px;
  margin-right: 2px;
}


.icon-boxes {
  padding-top: 100px;
}

.icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  height: 17em;
  width: 20em;
  margin-left: 3em;
  margin-right: 3em;
}

.icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.icon-box .title a {
  color: #124265;
  transition: 0.3s;
  text-decoration: none;
}

.icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: #2487ce;
}

.icon-box:hover {
  transform: scale(1.08);
}

.icon-box:hover .title a {
  color: #2487ce;
}

.icon {
  color: #000000;
  font-size: 5em;
  margin-top: -1em;
}

/* ====== FOOTER ====== */
#footer {
  background: #14151c;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ef6603;
  color: #fff;
  line-height: 1;
  padding: 10px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #bd5102;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

#footer a {
  text-decoration: none;
  color: #fff;
}



}
